[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/logstash"]
	path = production/modules/logstash
	url = https://github.com/elastic/puppet-logstash.git
[submodule "production/modules/file_concat"]
	path = production/modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat.git
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/elasticsearch"]
	path = production/modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "production/modules/java"]
	path = production/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "production/modules/sysctl"]
	path = production/modules/sysctl
	url = https://github.com/thias/puppet-sysctl.git
[submodule "production/modules/datacat"]
	path = production/modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "production/modules/nginx"]
	path = production/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "production/modules/kibana"]
	path = production/modules/kibana
	url = https://github.com/elastic/puppet-kibana.git
